version: "3.3"
services:
    tools:
        build:
            context: ./app
        container_name: app
        volumes:
            - ./app:/usr/src/app
        expose:
            - "80"
    nginx:
        image: nginx:latest
        container_name: nginx
        ports:
            - "8090:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./app/static:/usr/src/app/static
        depends_on:
            - app